# 构造可执行文件
FROM {{ cross_compiling }}golang:{{ golang_version }}-alpine as build_bin
ENV GO111MODULE=on
ENV GOPROXY=https://goproxy.io
# 停用cgo
ENV CGO_ENABLED=0
# 安装grpc_health_probe
RUN go get github.com/grpc-ecosystem/grpc-health-probe
WORKDIR /code
COPY go.mod /code/go.mod
COPY go.sum /code/go.sum
# 添加源文件
COPY {{ app_name }}.go /code/{{ app_name }}.go
RUN go build -ldflags "-s -w" -o {{ app_name }}-go {{ app_name }}.go

# 直接使用可执行文件构造镜像
FROM {{ cross_compiling }}alpine:3.12.2 as build_img
# 打包镜像
COPY --from=build_bin /go/bin/grpc_health_probe .
RUN chmod +x /grpc_health_probe
COPY --from=build_bin /code/{{ app_name }}-go .
RUN chmod +x /{{ app_name }}-go
EXPOSE 5000
HEALTHCHECK --interval=30s --timeout=30s --start-period=5s --retries=3 CMD [ "grpc_health_probe","-addr=:5000" ]
ENTRYPOINT [ "/{{ app_name }}-go"]

# 使用upx压缩可执行文件
FROM {{ cross_compiling }}alpine:3.11 as upx
WORKDIR /code
# 安装upx
RUN sed -i 's/dl-cdn.alpinelinux.org/mirrors.ustc.edu.cn/g' /etc/apk/repositories
RUN apk update && apk add --no-cache upx && rm -rf /var/cache/apk/*
COPY --from=build_bin /code/{{ app_name }}-go .
RUN upx --best --lzma -o {{ app_name }} {{ app_name }}-go


# 使用压缩过的可执行文件构造镜像
FROM {{ cross_compiling }}alpine:3.12.2 as build_upximg
# 打包镜像
COPY --from=build_bin /go/bin/grpc_health_probe .
RUN chmod +x /grpc_health_probe
COPY --from=upx /code/{{ app_name }} .
RUN chmod +x /{{ app_name }}
EXPOSE 5000
HEALTHCHECK --interval=30s --timeout=30s --start-period=5s --retries=3 CMD [ "grpc_health_probe","-addr=:5000" ]
ENTRYPOINT [ "/{{ app_name }}"]